@page "/"

<PageTitle>Ana Sayfa - ToDo Uygulaması</PageTitle>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto text-center">
            <h1 class="display-4 text-primary mb-4">ToDo Uygulamasına Hoş Geldiniz!</h1>
            
            <div class="card shadow-lg">
                <div class="card-body p-5">
                    <h2 class="card-title h4 mb-4">Görevlerinizi Organize Edin</h2>
                    <p class="card-text lead mb-4">
                        Bu uygulama ile günlük görevlerinizi kolayca yönetebilirsiniz. 
                        Yapılacaklar listenizi oluşturun, görevlerinizi takip edin ve 
                        produktivitенizi artırın.
                    </p>
                    
                    <div class="row text-start">
                        <div class="col-md-6">
                            <h5 class="text-success">✓ Özellikler:</h5>
                            <ul class="list-unstyled ms-3">
                                <li class="mb-2">• Görev ekleme ve düzenleme</li>
                                <li class="mb-2">• Görev durumunu değiştirme</li>
                                <li class="mb-2">• Tamamlanan görevleri işaretleme</li>
                                <li class="mb-2">• Görev silme işlemleri</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-info">🎯 Faydalar:</h5>
                            <ul class="list-unstyled ms-3">
                                <li class="mb-2">• Zamanınızı daha iyi yönetin</li>
                                <li class="mb-2">• Unutkanlığı önleyin</li>
                                <li class="mb-2">• Hedeflerinize odaklanın</li>
                                <li class="mb-2">• Günlük rutininizi geliştirin</li>
                            </ul>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</div>
